:root {
    --color-fondo-pagina: #e2e8f3; /* color fondo de pagina */
    --color-texto-principal: #000;
    --color-letra:#486f99; /* color titulo principal y de las cartas */
    --color-fondos-letras:#c4d2e7; /* color de fondo de donde hay texto */
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var(--color-fondo-pagina); 
    color: var(--color-texto-principal); 
    font-family: 'Roboto', sans-serif;
}

a{
    color: var(--color-letra);
    text-decoration: none;
}
ul{
    list-style: none;
}
section{
    padding:50px;
    font-family: 'Roboto', sans-serif;
}
.card-contacto {
    width: 510px;
    height: 250px;
    margin-bottom: 50px;
    border-radius: 15px;
    text-align: center;
    opacity: 0.8;
    font-size: 15px;
}
.card-contacto:hover{
    box-shadow: 10px 10px 10px #000;
    transform: translateY(-15px);
    font-size: 19px;
    opacity: 1;
}
.cabecera{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: var(--color-letra);
    border-radius: 15px;
}
.cabecera div{
    flex:1;
}
.imagen img{
    position: relative;
    margin-top: 50px;
    margin-left: 15px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background:var(--color-letra);
    padding: 6px;
    z-index: 1;
}
.nav-logo3{
    width: 400px;
    margin-top: 5px;
    position: relative;
    margin-left: -90px;
    z-index: 0;
    border-radius:0px 15px 15px 0px;
}
.descripcion {
    margin-left: -320px;
    margin-top: 60px;
    width: 300px;
    height: 150px;
    padding: 5px;
    z-index: 200;
    color: var(--color-letra);
}
.descripcion h2 {
    color: var(--color-letra);
    font-size: 40px;
}   
.descripcion h3{
    margin-top: 10px;
    text-align: center;
    color: var(--color-letra);
    font-size: 20px;
}
.cabecera ul{
    display: flex;
}
.nav-main ul.nav-menu {
    margin-left: 30px; /* Aplica un margen izquierdo de 30 píxeles a las listas no ordenadas (ul) con la clase .nav-menu dentro de .nav-main */
    margin-top: 35px; /* Aplica un margen superior de 35 píxeles a las listas no ordenadas (ul) con la clase .nav-menu dentro de .nav-main */
}
/*____________________________ responsive design ____________________________*/
@media (max-width: 1200px) {
    .news-card {
        grid-template-columns: repeat(2, 1fr);
    } 

    .nav-main ul.nav-menu {
        display: block;
        position: absolute;
        top: 0;
        right: -30px;
        background: #0d054e;
        height: 100%;
        width: 250px;
        padding: 30px;
        padding-top: 80px;
        transform: translateX(-1300px);
        opacity: .9;
        transition: transform .5s ease-in-out; 
        z-index: 20; /* Ajusta el z-index del menú desplegable */
    }

    .nav-main ul.nav-menu.show {
        transform: translateX(-30px);        
    }

    .nav-main ul.nav-menu li {
        padding: 20px 0;
    }

    .nav-main ul.nav-menu-right {
        margin-right: 80px;
    }

    .menu-btn {
        display: block;
        z-index: 30; /* Ajusta el z-index del botón del menú */
    }
}

@media (max-width: 700px) {
    .news-card {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer-conteiner {
        grid-template-columns: repeat(1, 1fr);
    }

    .nav-main p {
        font-size: 0px;
        position: initial;
    }
}

@media (max-width: 500px) {
    .baner-one {   
        margin: 90px 0;
        padding: 50px;
        height: 1150px;
        background-size: cover;
        background-repeat: no-repeat;  
        display: flex;
        flex-direction: column;
    }
}